apiVersion: apps/v1
kind: Deployment
metadata:
  name: clinica-service
  namespace: genosentinel
  labels:
    app: clinica-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: clinica-service
  template:
    metadata:
      labels:
        app: clinica-service
    spec:
      containers:
        - name: clinica
          # Updated for AWS ECR
          image: 002164174837.dkr.ecr.us-east-1.amazonaws.com/genosentinel-clinica-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: clinica-secrets
                  key: MONGODB_URI
          envFrom:
            - configMapRef:
                name: clinica-config
          livenessProbe:
            httpGet:
              path: /api
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /api
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
