apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gateway-mysql-pvc
  namespace: genosentinel
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gp3
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: genomica-mysql-pvc
  namespace: genosentinel
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gp3
